/* #garagemap-container {
      position: relative;
      background-color: #ccc;
      padding: 50px;
}

#garagemap-container input {
      position: absolute;
      top: 99px;
      left: 64px;
      display: inline-block;
      width: 20px;
      height: 20px;
} */