.chart-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.emp {
  /* margin: 0 10px; */
}

.chart-desc {
  width: 1000px;
  padding-left: 77px;
  /* background-color: #1394f0; */
}

.chart-btn {
  margin-top: 15px;
  background-color: #50b83c;
  border-radius: 4px;
  height: 36px;
  line-height: 36px;
  min-width: 80px;
  letter-spacing: 0;
  color: #fff;
  padding: 0 16px;
  font-family: Roboto, sans-serif;
  border: none;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}
