:root {
    --list-item-box-width: 400px;  
    --list-item-box-height: 200px;
}

.listEmpContainer {
      min-height: 722px;
      display: flex;
      flex-direction: column;
}

.head {
      padding: 30px 0px;
}

.head h1 {
      font-size: 30px;
      font-weight: 600;
}

.tableContainer{
      width: 800px;
}

.tableContainer .tableHeading {
      text-align: center;
      font-size: 40px;
      font-weight: 600;
}

.tableData {
}

.tableContainer td {
      margin: 10px 0;
      /* width: 500px; */
      display: inline-block;
}

.listItemBox {
      width: 800px;
      height: 100px;
      background-color: bisque;
      display: flex;
}

.listItemBox img {
      height: 100%;
}

.imagePersonBox {
      width: 100px;
      height: 100px;
      border-radius: 100px;
      background-color: #fff;
      margin: 0 10px;
}

.infoBox {
      margin-left: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      /* display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; */
}

.infoBox h1 {
      font-weight: 600;
}

.work {
      margin: 0 10px;
}


.buttonBox {

}

.buttonBox a {
      width: 80px;
      height: 40px;
      border-radius: 10px;
      cursor: pointer;
      margin: 0 10px;
}

.updateButton {
      background-color: rgb(45, 127, 194);
}

.updateButton:hover {
      background-color: rgb(21, 141, 188);
      color: #fff;
}

.deleteButton {
      background-color: rgb(236, 109, 74);

}